<div class="container-fluid bg-dark text-light py-5" id="list_Of_devices">
    <button class="btn btn-outline-primary d-block my-5" (click)="goBack()">Go back</button>
    <div class="row mr-0">
      <mat-card
          *ngIf="item"
          class="mt-4 px-3 d-flex flex-row justify-content-around align-item-center text-cente col-sm-12 col-lg-9 border-5 border-info rounded"
          id="mat_card"
          class="device-card mb-4" id="card_header">
            <mat-card-header class="mt-1 d-flex flex-row">
              <mat-card-title>
                <a
                class="text-decoration-none"
                id="item_name"
                aria-label="mobile name">
                <h3 class="fw-bold">
                {{item.name}}
                </h3>
              </a>
              </mat-card-title>
              <div *ngIf="item.hardware.physicalKeyboard" class="d-flex flex-row ms-auto">
                <mat-icon>stars</mat-icon>
                <mat-icon>stars</mat-icon>
                <mat-icon>stars</mat-icon>
                <mat-icon>stars</mat-icon>
                <mat-icon>stars</mat-icon>
              </div>
            </mat-card-header>
            <div class="d-flex">
              <div *ngIf="item.camera.features !== null" class="col">
                <mat-icon>thumb_up</mat-icon><mat-icon>theaters</mat-icon>
              </div>
              <div>
                <button
                  class="col"
                  mat-mini-fab mat-raised-button color="warn"
                  matTooltip="Best price till {{ propositionDate | date: 'dd.MM.yyyy' }}">
                  <mat-icon>today</mat-icon>
                </button>
              </div>
              <div
                *ngIf="item.display.touchScreen"
                class="ms-auto">
                <button mat-mini-fab
                  matTooltip="This device has touchcreen"
                  color="warn"><mat-icon>touch_app</mat-icon></button>
              </div>
            </div>
              <div  id="carouselDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./assets/{{item.images[0]}}" class="d-block w-100 img-responsive rounded mx-auto" alt="mobile picture">
                  </div>
                  <div class="carousel-item " *ngFor="let img of imgs">
                    <img src="./assets/{{img}}" class="d-block w-100 img-responsive rounded mx-auto" alt="mobile picture">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="row mt-3">
                <div
                  class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column  align-items-center flex-wrap"
                  *ngIf="item.connectivity">
                  <h4>Connectivity</h4>
                  <span><strong>Bluetooth:</strong>{{item.connectivity.bluetooth}}</span>
                  <span><strong>GPS:</strong> {{item.connectivity.gps  == true ? 'Yes' : 'No' }}</span>
                  <span><strong>Infrared:</strong> {{item.connectivity.infrared  == true ? 'Yes' : 'No' }}</span>
                  <span><strong>Wi-Fi:</strong> {{item.connectivity.wifi  == true ? 'Yes' : 'No'  }}</span>
                  <span *ngIf="item.connectivity.cell"><strong>Cells:</strong> {{item.connectivity.cell}}</span>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column align-items-center flex-wrap" *ngIf="item.battery">
                  <h4>Battery</h4>
                  <span><strong>Stand by time:</strong> {{item.battery.standbyTime}}</span>
                  <span><strong>Talk time:</strong> {{item.battery.talkTime}}</span>
                  <span><strong>Type</strong> {{item.battery.type}}</span>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column align-items-center flex-wrap" *ngIf="item.camera.primary || (item.camera.features | typeof)  === 'Array<string>'">
                  <h4 *ngIf="item.camera.primary || (item.camera.features | typeof)  === 'Array<string>'">Camera</h4>
                  <span *ngIf="item.camera.primary"><strong>Primary:</strong>  {{item.camera.primary}}</span>
                  <span *ngIf="(item.camera.features | typeof)  === 'Array<string>' "><strong>Faetures:</strong>  {{item.camera.features}}</span>
                </div>
              </div>
            <mat-card-content>
              <mat-tab-group dynamicHeight>
                <mat-tab label="Description">
                  <div class="small-box mat-elevation-z4">
                    <p class="text-center m-4 pt-2 border-top border-info border-2">
                      {{ item.description}}
                    </p>
                  </div>
                </mat-tab>
                <mat-tab label="Additiona Features:">
                  <div class="small-box mat-elevation-z4">
                    <div class="d-flex fustify-content-start" >
                      <p> {{item.additionalFeatures}}</p>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Softwear an Hardwear">
                  <div class="small-box mat-elevation-z4">
                    <div class="d-flex flex-column align-items-start mt-3">
                      <h5>{{item.android?.os}}</h5>
                      <h5 *ngIf="item?.android?.ui">UI              : {{item.android?.ui}}</h5>
                      <h5>Availability{{ item.availability}}</h5>
                      <h4 class="mt-3">Hardwear: </h4>
                      <h5>Accelerometer {{item.hardware.accelerometer == true ? 'Yes' : 'No'}}</h5>
                      <h5>audioJack{{item.hardware.audioJack}}</h5>
                      <h5>cpu{{item.hardware.cpu}}</h5>
                      <h5>Radio-FM{{item.hardware.fmRadio == true ? 'Yes' : 'No'}}</h5>
                      <h5>Keyboard{{item.hardware.physicalKeyboard == true ? 'Yes' : 'No'}}</h5>
                      <h5>{{item.hardware.usb }}</h5>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
              <div class="row flex-wrap mt-4">
                <div class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column align-items-center" *ngIf="item.display">
                  <h4>Display</h4>
                  <span><strong>Resolution:</strong>  {{item.display.screenResolution}}</span>
                  <span><strong>Size:</strong>  {{item.display.screenSize}}</span>
                  <span><strong>Touch Screen:</strong>  {{item.display.touchScreen  == true ? 'Yes' : 'No' }}</span>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column align-items-center" *ngIf="item.sizeAndWeight">
                  <h4>Dimensions</h4>
                  <span><strong>Width:</strong>  {{item.sizeAndWeight.dimensions[0]}}</span>
                  <span><strong>Heigth:</strong>  {{item.sizeAndWeight.dimensions[1]}}</span>
                  <span><strong>Depth</strong>  {{item.sizeAndWeight.dimensions[2]}}</span>
                  <span><strong>Weight</strong>  {{item.sizeAndWeight.weight}}</span>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column align-items-center" *ngIf="item.storage.flash || item.storage.ram">
                  <h4 *ngIf="item.storage.flash || item.storage.ram">Storage</h4>
                  <span *ngIf="item.storage.ram"><strong>Ram:</strong>  {{item.storage.ram}}</span>
                  <span *ngIf="item.storage.flash"><strong>Flash:</strong>  {{item.storage.flash}}</span>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <div class="d-flex justify-content-between align-items-center border-bottom">
                <div *ngFor="let oneDevice of stuff" class="me-auto">
                  <button
                  *ngIf="oneDevice.id === item.id"
                    type="button"
                    (click)="openModal()"
                    mat-raised-button color="primary"
                    class="buttons_home mb-3"
                    aria-label="buy this device"
                    (click)="addToCart(oneDevice)">
                    <mat-icon>add_shopping_cart</mat-icon>
                    Add to cart
                  </button>
                   <!-- Modal -->
            <!-- <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-md">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h3>Item {{item.name}} has been added to the cart!</h3>
                  </div>
                </div>
              </div>
            </div> -->
                </div>
                <div
                  *ngFor="let oneDevice of stuff"
                  class="d-flex flex-column align-items-end px-1">
                    <span
                      *ngIf="oneDevice.id === item.id"
                      aria-label="price of device"
                      [style.text-decoration.]="oneDevice.discount ?
                      'line-through' :  'none'">
                    <strong>Price:</strong> {{oneDevice.price | currency}}
                  </span>
                  <span
                    class="p-2 ms-auto"
                    *ngIf="oneDevice.id === item.id && oneDevice.discount"
                    id="price_with_discont"
                    aria-label="total price">
                    <strong>New price:</strong> {{ oneDevice.price - (oneDevice.price  / 100 * oneDevice.discount) | currency}}
                  </span>
                </div>
              </div>
            </mat-card-actions>
      </mat-card>

    <div class="text-light float-rigth col-lg-3">
      <div>
       <h4>Product Warranty</h4> <br>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, ratione consectetur. In atque excepturi sit quis doloribus optio magnam eaque explicabo accusamus veniam sed nemo nesciunt maiores facilis dolor tempora eligendi iusto minus possimus, necessitatibus accusantium natus. Quibusdam dolorum quod itaque tempora commodi esse aliquam, asperiores suscipit delectus. Velit, illum?</p>
      </div>
      <div>
        <h4>Payment</h4> <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo id aut nemo illum quam modi assumenda. Ipsam, dolore? In accusamus maiores porro numquam sit ratione dolorum amet. Voluptates fugit molestiae rem temporibus, sapiente totam omnis deserunt repellendus eos iste nemo sit, odit eius similique nostrum harum sunt exercitationem cum unde.</p>
      </div>
      <div>
        <h4>Settings</h4> <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo id aut nemo illum quam modi assumenda. Ipsam, dolore? In accusamus maiores porro numquam sit ratione dolorum amet. Voluptates fugit molestiae rem temporibus, sapiente totam omnis deserunt repellendus eos iste nemo sit, odit eius similique nostrum harum sunt exercitationem cum unde.</p>
      </div>
    </div>
  </div>
</div>
