<div class="container-fluid mt-5 bg-dark text-light" *ngIf="products.length !=0 || prod.length != 0">
  <div class="cart-product row">
     <table class="table table-responsive table-dark table-hoveral col-sm-12 mt-5">
       <thead class="mt-5 py-5">
         <tr>
           <th>Device</th>
           <th>Price</th>
           <th>Sale</th>
           <th>Final Price</th>
           <th>Delete</th>
         </tr>
       </thead>
         <tbody>
           <tr *ngFor="let item of prod ; let i = index">
             <td>
               <a class="text-decoration-none"
               routerLink="/products/{{item.id}}">
               {{item.name}}
               </a>
             </td>
             <td> {{item.price | currency}} </td>
             <td> {{item.discount}} % </td>
             <td> {{item.total | currency}} </td>
             <td>
                 <button (click)="removeItem(item)"
                     mat-mini-fab color="warn"
                     aria-label="Icon button with a delete icon">
                   <mat-icon>delete</mat-icon>
                 </button>
             </td>
           </tr>
           <tr>
             <td colspan="1"></td>
             <td>
               <button
                 class="big_btns"
                 (click)="emptycart()" class="btn btn-danger">
                   <mat-icon>remove_shopping_cart</mat-icon>
               </button>
             </td>
             <td><button
               class="big_btns"
               routerLink="/" class="btn btn-primary">
               <mat-icon>shopping_basket</mat-icon>
                </button></td>
             <td><strong>Total: {{ grandtal | currency}}</strong></td>
           </tr>
         </tbody>
       </table>
   </div>
   <h4 class="text-center">Hurry Up!</h4>
   <p class="text-center">Free delivery only till {{ freeShipping | date: 'dd.MM.yyyy' }}</p>
   <h2 class="text-center">Customer contact details</h2>
   <form
    #form="ngForm"
    ngNativeValidate
    [formGroup]="checkoutForm"
    (ngSubmit)="onSubmit(form.value)"
    class="mt-5 text-center text-ligth">
     <div class="checkout">
       <mat-form-field appearance="fill" >
         <mat-label>Name</mat-label>
         <input
            id="userName"
            type="text"
            formControlName="userName"
            matInput
            pattern="[a-zA-Zа-яА-Я ]*"
            placeholder="Inna Green"
            required
            minlength="2"
            maxlength="25"
            for="userName" >
         <mat-error *ngIf="userName.invalid">{{getNameErrorMessage()}}</mat-error>
       </mat-form-field>
     </div>
     <div class="checkout">
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <mat-select
          id="selectCity"
          formControlName="selectCity"
          required
          for="selectCity">
            <mat-option value="Kyiv">Kyiv</mat-option>
            <mat-option value="Lviv">Lviv</mat-option>
            <mat-option value="Odessa">Odessa</mat-option>
        </mat-select>
        <mat-hint *ngIf="!selectCity.invalid" align="end">Choice city</mat-hint>
        <mat-error *ngIf="selectCity.invalid">{{getCityErrorMessage()}}</mat-error>
      </mat-form-field>
     </div>
     <div class="checkout" >
       <mat-form-field appearance="fill">
         <mat-label>Address</mat-label>
         <input
            id="address"
            type="text"
            formControlName="address"
            matInput
            placeholder="Some Street, 99"
            required
            for="address">
         <mat-error *ngIf="address.invalid">{{getAddressErrorMessage()}}</mat-error>
       </mat-form-field>
     </div>
     <div class="checkout">
       <mat-label>Delivery by:</mat-label>
          <mat-radio-group
            class="d-flex flex-row justify-content-center gap-2"
            id="deliveryBy"
            formControlName="deliveryBy"
            required
            for="deliveryBy">
              <mat-radio-button value="Dron" class="py-2 mr-2">Dron</mat-radio-button>
              <mat-radio-button value="Courier" class="py-2 pl-2">Courier </mat-radio-button>
          </mat-radio-group>
     </div>
     <div class="checkout">
       <mat-form-field appearance="fill">
         <mat-label>E-mail</mat-label>
         <input
            id="email"
            type="email"
            ormControlName="email"
            matInput
            placeholder="yourt@mail.com"
            required
            for="mail">
         <mat-error *ngIf="email.invalid">{{getMailErrorMessage()}}</mat-error>
       </mat-form-field>
     </div>
     <div class="checkout" >
      <mat-form-field appearance="fill" >
        <mat-label>Mobile</mat-label>
        <input
           id="mobileNumber"
           formControlName="mobileNumber"
           matInput
           minlength="10"
           type="tel"
           placeholder="(093)180-10-89"
           required
           for="mobileNumber" >
        <mat-error *ngIf="mobileNumber.invalid">{{getMobileErrorMessage()}}</mat-error>
      </mat-form-field>
     </div>
     <div class="checkout">
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input formControlName="dateOfDeliveryFrom"  matStartDate placeholder="From date">
            <input formControlName="dateOfDeliveryTo" matEndDate placeholder="To date">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
     </div>
     <button
        id="submitBtn"
        mat-raised-button
        [disabled]="form.invalid"
        color="primary" type="submit"
        class="mb-4 mt-3">
       <mat-icon>payment</mat-icon>
       Purchase</button>
   </form>
</div>

<ng-container *ngIf="products.length == 0" class="bg-dark text-ligth">
 <div class="container-fluid h-75 mt-5">
   <div class="center">
     <img src="./assets/img/empty.jpg" alt="empty cart">
     <h3>Add new items now!</h3>
     <button routerLink="/home" class="btn btn-outline-primary">Shop Now</button>
   </div>
 </div>
</ng-container>
