<header class="text-center">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center fixed-top">
    <div class="container-fluid ">
      <a class="navbar-brand text-info mx-4" aria-label="MyStore" routerLink="home">
        MyStore</a>
      <button class="navbar-toggler mx-5" type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-start text-bg-dark"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabe">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
            <a
              class="text-info"
              aria-label="brand_MyStore"
              routerLink= "home">
              MyStore</a>
          </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul
          class="nav_font navbar-nav d-flex align-items-center">
            <li *ngFor="let nav of headerNav" class="nav-items text-light" id="nav-items">
              <a
              id="nav-link"
              routerLink="{{nav.routerLink}}"
              class="nav-link"
              aria-current="page"
              href="{{nav.href}}"
              rel="noopener">
                {{nav.title}}</a>
            </li>
          </ul>
          <button class="btn btn-outline-primary p-2 m-2 ms-auto">
            <a
              routerLink="cart"
              class="text-decoration-none"
              aria-label="Check_in">
              <i class="material-icons">shopping_cart</i>Check Out
            </a>
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
  <router-outlet></router-outlet>
<footer class="d-flex bg-primary gap-3 justify-content-between border-4 border-top gap-4">
    <div class="d-flex flex-column align-items-center flex-wrap col-lg-3 col-md-3 col-sm-1">
      <a
      *ngFor="let link of links"
      id="footer_nav"
      class="nav-link" mat-list-item href='{{ link.link }}'> {{ link.name }}</a>
    </div>
    <div class="d-flex flex-column align-items-center flex-wrap col-lg-3 col-md-3 col-sm-1">
      <a
      *ngFor="let link of links"
      id="footer_nav"
      class="nav-link" mat-list-item href='{{ link.link }}'> {{ link.name }}</a>
    </div>
    <div class="d-flex flex-column align-items-center flex-wrap col-lg-3 col-md-3 col-sm-1">
      <a
      *ngFor="let link of links"
      id="footer_nav"
      class="nav-link" mat-list-item href='{{ link.link }}'> {{ link.name }}</a>
    </div>
    <div class="d-flex flex-column align-items-center flex-wrap col-lg-3 col-md-3 col-sm-1">
      <a
      *ngFor="let link of links"
      id="footer_nav"
      class="nav-link" mat-list-item href='{{ link.link }}'> {{ link.name }}</a>
    </div>
</footer>
