<div class="container text-dark">
  <form
    #form="ngForm"
    class="mt-3"
    ngNativeValidate
    [formGroup]="feedbackForm"
    (ngSubmit)="sendFeedBack(form.value)">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Company</mat-label>
      <input matInput disabled value="MyStore">
    </mat-form-field>
    <table class="full-width" cellspacing="0"><tr>
      <td><mat-form-field class="full-width" appearance="fill">
        <mat-label>Name</mat-label>
          <input
            matInput
            id="userName"
            type="text"
            formControlName="userName"
            pattern="[a-zA-Zа-яА-Я ]*"
            placeholder="Inna Green"
            required
            minlength="2"
            max-length="25">
        <mat-error *ngIf="userName.invalid">{{getNameErrorMessage()}}</mat-error>
      </mat-form-field></td></tr><tr id="mob">
   <td><mat-form-field class="full-width" appearance="fill">
      <mat-label >Telephone</mat-label>
      <span matPrefix>+38 &nbsp;</span>
      <input
        id="phone"
        formControlName="phone"
        minlength="10"
        type="tel"
        matInput
        placeholder="555-555-1234">
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-error *ngIf="phone.invalid">{{getMobileErrorMessage()}}</mat-error>
    </mat-form-field></td></tr>
    <tr><td><mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        required=""
        formControlName="email"
        placeholder="your@gmail.com">
      <mat-error *ngIf="email.invalid">{{getMailErrorMessage()}}</mat-error>
    </mat-form-field></td></tr>
    <tr><td><mat-form-field class="full-width" appearance="fill">
      <mat-label>Leave a feedback</mat-label>
      <textarea
        matInput
        #message
        required=""
        minlength="5"
        maxlength="256"
        placeholder="Your feedback"
        formControlName="feedBackText"></textarea>
        <mat-error *ngIf="feedBackText.invalid">{{getFeedBackErrorMessage()}}</mat-error>
    </mat-form-field></td></tr>
    <tr><td><button
        id="submitBtn"
        mat-raised-button
        [disabled]="form.invalid"
        color="accent"
        type="submit"
        class="mb-4 mt-3">
        <mat-icon>feedback</mat-icon>
       Send feedback</button><td>
    </tr></table>
  </form>
</div>
