
  <div id="carouselDark" class="carousel carousel-dark slide container-fluid mt-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="./assets/img/freeSh.jpg" class="d-block w-100" alt="altfreShipping">
        <div class="carousel-caption d-none d-md-block">
          <p class="red">Free delivery only till {{ freeShipping | date: 'dd.MM.yyyy' }}</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="12000"><a href="https://evaspring111.github.io/Le-Corte/">
        <img src="./assets/img/394343.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4 class="ligth">Purchase any table </h4>
          <p class="ligth">and win invitation for free wine degustation!</p>
        </div></a>
      </div>
      <div class="carousel-item" routerLink="contacts">
        <img src="https://thumbs.dreamstime.com/b/cashback-sign-colorful-brush-design-vector-background-cashback-sign-colorful-brush-strokes-125359171.jpg" class="d-block w-100" alt="cashBack">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="pt-3">Leave your comment and get CASHBACK 50%</h3>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

