
<div class="modal-header bg-info mt-5">
  <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  Device {{title}} has been added to the cart!
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-info" routerLink="home" (click)="modalRef.close()">
    Continue shopping
  </button>
  <button type="button" class="btn btn-primary" routerLink="cart" (click)="modalRef.close()">To cart</button>
</div>
