input {
  width: 180px;
  max-width: 240px;
  border-radius: 100px;
}

#mat_card {
  width: 25%;
  min-width: 350px;

  font-size: .81rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

ul {
  text-decoration: none;
}

#table_hot_sale{
  border-top: 1px ridge  rgb(252, 159, 149);
  border-bottom: 1px ridge  rgb(252, 159, 149);
}

#table_hot_sale a {
  color: wheat;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  font-size: .9rem;
  line-height: 1.5;
}

#hot_sales {
  color: wheat;
  text-decoration: none;
}

a:hover,
a:focus {
  color: rgb(55, 145, 197);
}

a, span {
  color: rgb(1, 12, 12);
}

.buttons_home{
  height: min-content;
}

#filrtNavbar:hover {
  transform: translateY(-0.25rem);
}

input:hover{
  box-shadow: 0px 3px 15px aqua;
  cursor: pointer;
}


.buttons_home:hover,
.buttons_home:focus,
 img:hover,
 img:focus,
 #sale:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

img {
  width: 100px;
  height: auto;
}

img:hover,
img:focus {
  cursor: pointer;
}

mat-card-subtitle{
  font-style: italic;
}

#price_with_discont {
  color: greens;
  font-weight: 700;
}

#sale{
  background: maroon;
  border-radius: 50%;
  padding: 3px;
  color: bisque;
  width: fit-content;
  height: fit-content;
}


@media  (max-width: 500px) {
  #Hot_sale, #table_hot_sale{
    display: none;
  }

}
